@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
body{
  line-height: unset;
}
#preload {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 99;
    height: 100%;
    width: 100%
}

#preload .load {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/load.gif) center center no-repeat;
}
.pd-40{
  padding: 40px;
}
.pd-80{
  padding-top: 80px;
}


.navbar {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    vertical-align: center;
    justify-content: space-between;
    animation-name: anim;
    animation-duration: 1s;
    /* animation-delay: 1s; */
    opacity: 0;
    animation-fill-mode: forwards;
    z-index: 99;
    flex-wrap: nowrap;
    align-items: normal;
    padding: 0;
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: auto 0;
}

.link_menu {
    color: white;
    text-decoration: none;
    font-size: 0.95em;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    transition: .3s;
}

.link_menu:hover {
    color: #681D98;
    transition: .3s;
    text-decoration: inherit;
}

.burger {
    color: white;
    font-size: 1.4em;
    /*    padding-left: 20px;*/
    display: none;
    margin-left: -20px;
}

.burger:focus, .burger:hover {
    color: #681D98;
    transition: .3s;
}

.logo {
    background: url(../img/logo.png) no-repeat center;
    background-size: auto 80%;
    height: auto;
    width: 360px;
    margin-left: 20px;
}

header .registration{
  display: flex;
  align-items: center;
  width: 320px;
  height: auto;
  color: white;
  cursor:pointer;
  font-size: 0.95em;
  font-weight: 600;
  text-transform: uppercase;
}

header .registration:hover{
  color: #681D98;
  transition: .3s;
}

.profile {
    display: flex;
    align-items: center;
    width: 320px;
    height: auto;
    color: white;
    position: relative;
    cursor: pointer;
}

.prof_phwh {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user_photo {
    border-radius: 10%;
    background: url(../img/photo.jpg) no-repeat center;
    background-size: 100% 100%;
    height: 48px;
    width: 48px;
    margin-top: 10px;
}

.user_in {
    flex-direction: column;
    padding-left: 10px;
}

#user_name {
    /*    padding-bottom: 4px;*/
    font-size: 1.1em;
}

#user_balance {
    color: #cccccc;
    font-size: 1em;
}

#user_who {
    padding-top: 2px;
    font-size: 0.8em;
    padding-bottom: 5px;
    color: orange;
}
.profile:hover > .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin: 0;
}
.dropdown-item{
    font-size: 0.95em;
    font-weight: 600;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #681D98;
    transition: .3s;
    text-decoration: inherit;
    background-color: white;

}
.dropdown-item.active, .dropdown-item:active {
    color: #681D98;
    transition: .3s;
    text-decoration: inherit;
    background-color: white;
}

.head_preview {
    background: url(../img/header.jpg) no-repeat right;
    background-size: auto 140vh;
    width: 100%;
    height: 80vh;
}

.head_text {
    width: 100%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-name: anim;
    animation-duration: 1s;
}

.head_text .top_text {
    color: white;
    font-size: 4em;
    font-weight: 600;
    text-align: center;
    width: 90%;
}

.head_text .bottom_text {
    color: white;
    font-size: 1.4em;
    text-align: center;
    margin-top: 2%;
    font-weight: 100;
    width: 90%;
}

.head_button {
    color: white;
    background-color: rebeccapurple;
    padding: 24px;
    font-size: 1.2em;
    border-radius: 5px;
    margin-top: 4%;
    text-decoration: none;
    font-weight: 400;
    border: 2px solid transparent;
    transition: .3s;
}

.head_button:hover {
    /*    border: 2px solid rebeccapurple;*/
    background-color: white;
    transition: .3s;
    color: rebeccapurple;
    text-decoration: none;
}

.to_down {
    color: white;
    font-size: 3em;
    position: absolute;
    top: 66vh;
    animation: animtodown 5s infinite both;
    z-index: 1;
    transition: .3s;
}

.to_down:hover {
    color: rebeccapurple;
    transition: .3s;
}

.how_work {
    /*height: 100vh;*/
}

.how_work h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 50px;
}

.how_work h2 {
    text-align: center;
    font-size: 1.4em;
    font-weight: 400;
    margin-top: 50px;
}

.how_blocks {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    align-self: center;
    /*   background-color: green;*/
    justify-content: center;
    margin-top: 80px;
    text-align: center;

}

.how_block {
    text-align: center;
    width: 200px;
    /*    background-color: green;*/
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

.how_block i {
    font-size: 5em;
    color: rgba(0, 0, 0, 0.8);
}

.how_block h2 {
    font-size: 1em;
    margin-top: 40px;
    font-weight: 400;
}

.how_block1 {
    display: flex;
    margin-top: 80px;
    flex-wrap: wrap;
    justify-content: center;
}

.how_block1_1 {
    width: 600px;
    padding: 2%;
    justify-content: center;
    text-align: left;
}

.how_block1_1 h1 {
    text-align: left;
}

.how_block1_1 h3 {
    text-align: left;
    font-weight: lighter;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 1.4em;
}

.how_block1_2 {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    padding: 2%;
    justify-content: center;
}

.how_ph1 {
    background: url(../img/ph1.jpg) no-repeat center;
    background-size: auto 100%;
    width: 230px;
    height: 230px;
    margin: 10px;
}

.how_ph2 {
    background: url(../img/ph2.jpg) no-repeat center;
    background-size: auto 100%;
    width: 230px;
    height: 230px;
    margin: 10px;
}

.how_ph3 {
    background: url(../img/ph3.jpg) no-repeat center;
    background-size: auto 100%;
    width: 230px;
    height: 230px;
    margin: 10px;
}

.how_ph4 {
    background: url(../img/ph4.jpg) no-repeat center;
    background-size: auto 100%;
    width: 230px;
    height: 230px;
    margin: 10px;
}

.how_button {
    color: white;
    background-color: rebeccapurple;
    font-size: 1.2em;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 400;
    padding: 20px;
    margin-bottom: 40px;
    width: 200px;
    text-align: center;
    border: 2px solid transparent;
    transition: .3s;
    box-sizing: content-box;
}

.how_button:hover {
    border: 2px solid rebeccapurple;
    color: rebeccapurple;
    background-color: transparent;
    text-decoration: none;
    transition: .3s;
}

.tn {
    text-decoration: none;
}

.experts_gl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.experts_gl_block {
    height: 500px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.expert1 {
    background: url(../img/ex2.jpeg) no-repeat center;
    background-size: 100% auto;
    width: 400px;
    height: 250px;
}

.expert2 {
    background: url(../img/ex1.jpg) no-repeat center;
    background-size: 100% auto;
    width: 400px;
    height: 250px;
}

.expert3 {
    background: url(../img/ex3.jpeg) no-repeat center;
    background-size: 100% auto;
    width: 400px;
    height: 250px;
}

.expert_name {
    font-size: 2em;
    font-weight: bold;
    width: 400px;
}

.expert_button {
    width: 180px;
    background-color: #681D98;
    margin-top: 30px;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white!important;
    border: 2px solid transparent;
    transition: .3s;
    text-decoration: none;
    cursor: pointer;
    box-sizing: content-box;
}

.expert_button:hover {
    border: 2px solid rebeccapurple;
    color: rebeccapurple!important;
    background-color: #fff;
    transition: .3s;
    text-decoration: inherit;
}

.full {
    width: 420px;
}

.expert_button a {
    text-decoration: none;
    color: white;

}

.expert_info {
    height: 50%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.expert_prof {
    font-size: 1.1em;
    font-weight: 100;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    /*    margin-top: -80px;*/
}

.online,
.offline {
    font-size: 2em;
    margin-left: -8px;
    margin-top: -8px;
}

.online {
    color: limegreen;
}

.offline {
    color: red;
}

.list_help {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
}

.block_help {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*    background-color: green;*/
    width: 440px;
    margin-bottom: 10px;
    margin-top: 30px;
    color: black;
    text-decoration: none;
    transition: .3s;
}

.block_help:hover {
    transform: scale(1.2);
    transition: .3s;
    color: inherit;
    text-decoration: inherit;
}

.block_help i {
    font-size: 4.5em;
    margin-bottom: -20px;
    width: 440px;
    text-align: center;
}

.m60 {
    margin-top: 60px;
}

.block_help h2 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.block_reviews {
    margin-top: 90px;
    height: 800;
    width: 100%;
    background-color: #F5F5F5;
    display: block;
    padding-top: 30px;

}

.block_reviews h1 {
    width: 100%;
    text-align: center;
}

.revs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 30px;
}

.rev {
    /*    background-color: green;*/
    width: 500px;
    display: flex;
    height: 200px;
    align-items: center;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
}
.rev_dispay{
    display: flex;
}
.rev_none{
    display: none;
}

.rev_text {
    width: 350px;
    margin-left: 30px;
}

.rev_text h3 {
    font-size: 1em;
    font-weight: 400;
}

.rev_name {
    font-weight: 600;
    margin-top: 20px;
}

.rev_dol {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.95);
    font-size: 0.95em;
    margin-top: 3px;
}

.rev_dol span {
    color: rebeccapurple;

}
.rev_date{
    margin-top:5px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.95);
    font-size: 0.95em;
}
.rev_date i {
    margin-right: 5px;
}

.rev1 {
    background: url(../img/rev1.jpg) no-repeat center;
    background-size: auto 100%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.rev2 {
    background: url(../img/rev2.jpg) no-repeat center;
    background-size: auto 100%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.rev3 {
    background: url(../img/rev3.jpg) no-repeat center;
    background-size: auto 100%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.rev4 {
    background: url(../img/rev4.jpg) no-repeat center;
    background-size: auto 100%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.feedback {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 80%;
    justify-content: center;
    text-align: left;
}
@media screen and (max-width: 1250px) {
    .feedback {
        height: 800px;
    }
}

.feedback_left {
    /*    height: 800px;*/
    width: 500px;
    display: block;
}

.feedback_right {
    width: 500px;
    /*    height: 800px;*/
    display: block;
}

.feedback_right input {
    width: 500px;
    height: 60px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 20px;
    font-weight: 400;
    font-size: 1em;

}

#feed_text {
    height: 180px;
    justify-content: flex-start;
    width: 500px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 20px;
    font-weight: 400;
    font-size: 1em;
    padding-top: 20px;
}

.mgb60 {
    margin-bottom: 80px;
}

.mgt-60 {
    margin-top: -10px;
}

.number {
    font-size: 2em;
    font-weight: 300;
}

.mail {
    font-size: 2em;
    font-weight: 300;
}

.address {
    font-size: 1.5em;
    font-weight: 300;
    margin-top: 40px;
}

.icons i {
    font-size: 2em;
    margin-right: 10px;
    margin-top: 40px;
}

@keyframes anim {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes animtodown {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.3)
    }

    100% {
        transform: scale(1)
    }
}

@media screen and (max-width: 1121px) {
    .link_menu {
        display: none;
    }

    .burger {
        display: block;
    }
}

@media screen and (max-height: 700px) {
    .to_down {
        display: none;
    }
}

/******** FOOTER ********/

.footer {
    padding-top: 60px;
    padding-bottom: 75px;
    background-color: #111111;
}

.footer .container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
    padding: 0;
}

.footer .container::after,
.footer .container::before {
    display: table;
    content: " ";
}

.footer .container::after {
    clear: both;
}

.footer .col {
    padding: 0;
}

.footer .logo_footer {
    display: block;
    max-width: 120px;
    width: 100%;
}

.footer .sociallinks {
    margin-top: 30px;
}

.footer .sociallinks_item {
    display: inline-block;
    margin-right: 4px;
    -webkit-transition: opacity ease-in-out 0.2s;
    -moz-transition: opacity ease-in-out 0.2s;
    -o-transition: opacity ease-in-out 0.2s;
    transition: opacity ease-in-out 0.2s;
}

.footer .text {
    color: #525252;
    margin-top: 21px;
    font-size: 12px;
}

.footer .title {
    margin-bottom: 14px;
    color: #FFF;
}

.footer .title_uppercase {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer .descr {
    font-weight: 300;
}

.footer .descr_xxs {
    font-size: 14px;
    line-height: 1.55;
}

.footer .descr ul {
    padding: 0 !important;
    margin: 0;
}

.footer .descr li {
    display: block;
    margin-bottom: 10px;
}

.footer .descr a {
    color: inherit !important;
}


@media screen and (max-width: 960px) {
    .footer .col {
        padding-left: 20px;
        padding-right: 20px;
        margin: 0;
        box-sizing: border-box;
    }
}

/******** CHAT  ********/

.chat {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 400px;
  margin: 0 50px 50px 0;
  box-shadow: 0 0 20px #909090;
  color: #252525;
  animation-name: anim;
  animation-duration: 1s;
  /* animation-delay: 1s; */
  opacity: 0;
  animation-fill-mode: forwards;
}
.chat a.active i:after {
  color: #4bdb9c;
}
.chat-header {
  padding: 1.5em 1em;
  background-color: white;
}
.chat-header i {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.header-label {
  font-weight: 700;
  font-size: 120%;
  display: block;
  text-align: center;
}
#chat-content {
  overflow-y: scroll;
  max-height: 600px;
  min-height: 200px;
  padding: 1em 2em 0;
  background: linear-gradient(#f4f5f7 30%, rgba(244, 245, 247, 0)), linear-gradient(rgba(244, 245, 247, 0), #f4f5f7 70%) 0 100%, radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)) 0 100%;
  background: linear-gradient(#f4f5f7 30%, rgba(244, 245, 247, 0)), linear-gradient(rgba(244, 245, 247, 0), #f4f5f7 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: #f4f5f7;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}
.chat ::-webkit-scrollbar {
  display: none;
}
.chat .message-container {
  margin-bottom: 3em;
  margin-left: 4em;
  position: relative;
  animation-name: anim;
  animation-duration: 0.5s;
}
.chat .pic-container {
  position: absolute;
  left: -75px;
}
.chat .pic-container img, .pic-container .status {
  border-radius: 50%;
  max-width: 60px;
}
.chat .pic-container .status {
  background-color: #4bdb9c;
  width: 12px;
  height: 12px;
  border: solid 3px white;
  position: absolute;
  top: 0;
}
.chat h3.name {
  margin: 0 0 0.8em;
  font-weight: 300;
  font-size: 110%;
  color: #252525;
}
.chat .message {
  background: white;
  padding: 1em 1.3em;
  border-radius: 10px;
}
.chat .message p {
  margin: 0;
  line-height: 180%;
  font-size: 100%;
  color: #6f6f6f;
  word-break: break-word;
}
.chat .time {
  font-size: 90%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 0.8em;
  color: #aaa;
}
.chat input {
  padding: 1.5em 3em 1.5em 1em;
  border: none;
  width: 100%;
  box-sizing: border-box;
}
.chat .editor {
  position: relative;
  border-bottom: solid 1px #aaa;
}
.chat .editor a {
  position: absolute;
  right: 10px;
  top: 20px;
}
@media screen and (max-width: 1200px){
.chat {
    width: 320px;
}
}
@media screen and (max-width: 960px){
.chat {
    width: 50%;
    max-width: 100%;
}
}
@media screen and (max-width: 640px){
.chat {
    max-width: 80%;
    width: 100%;
}
}
@media screen and (max-width: 420px){
.chat {
    max-width: 100%;
    width: 100%;
    margin:0 0 50px 0;
}
}
@keyframes anim{
    0% {opacity: 0}
    100% {opacity: 1}
}

/******** ABOUT  ********/
.about{
  padding-top: 100px;
}
.about .blockimg{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about .title{
  margin-bottom: 16px;
  font-size: 42px;
  font-weight: 600;
  color: #000000;
  line-height: 1.23;
}
@media screen and (max-width: 1200px){
  .about .title {
    font-size: 38px;
  }
  .about .descr {
      font-size: 18px;
  }
}
@media screen and (max-width: 640px){
  .about .title {
    font-size: 30px;
  }
  .about .descr{
    font-size: 16px;
    line-height: 1.45;
  }
}

.about .line {
    max-width: 50px;
    width: 100%;
    height: 3px;
    display: block;
}

.about .descr {
    margin-top: 28px;
    font-size: 20px;
    line-height: 1.55;
}

/******** CONTACTS  ********/
.contacts .how_work {
  padding: 40px;
}
/******** EXPERT  ********/
.expert {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  vertical-align: middle;
  position: relative;
  background-attachment: fixed;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  background-image: url(../img/expert_form.jpg);
  height: 1126px;
  background-attachment: scroll;
}
.expert .cover__filter{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.expert .mainblock{
  margin: 0 auto;
  padding-top: 80px;
}
.expert .mainwrapper{
  padding: 0 20px;
}
.expert .title{
  color: #fff;
  margin-bottom: 40px;
}
.expert .title_xs{
  font-size: 42px;
}
.expert .descr {
    color: #fff;
    margin-bottom: 50px;
}

.expert .descr_md {
    font-size: 20px;
    line-height: 1.55;
}
.expert .form__successbox {
    text-align: center;
    background: #62C584;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto',Arial,sans-serif;
}
.expert .text_md {
    font-size: 20px;
    line-height: 1.55;
}
.expert .form__inputsbox {
    max-width: 560px;
    margin: 0 auto;
    text-align: left;
}

.expert .form__inputsbox {
    -webkit-transition: max-height 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: max-height 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    max-height: 15000px;
}
.expert .input-groups {
    margin-bottom: 20px;
}
.expert .input-title {
    padding-bottom: 5px;
    color: #fff;
    display: block;
    vertical-align: middle;
    height: 100%;
    padding-right: 10px;
}
.expert .descr_md {
    font-size: 20px;
    line-height: 1.55;
}
.expert .input {
    margin: 0;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 100%;
    height: 60px;
    padding: 0px 20px;
    font-size: 16px;
    line-height: 1.33;
    width: 100%;
    border: 0 none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
}
.expert .input {
    height: 56px;
    background-color: transparent;
    -webkit-appearance: none;
}
.expert .select__wrapper {
    position: relative;
}
.expert .select {
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    height: 60px;
    padding: 0 45px 0 20px;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 16px;
    line-height: 1.33;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
}
.expert .select__wrapper:after {
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    pointer-events: none;
}
.expert .form__errorbox-wrapper {
    background: #F95D51;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto',Arial,sans-serif;
}
.form__errorbox-text {
    color: #fff;
    box-sizing: border-box;
    padding: 0px 10px 10px 10px;
    font-family: 'Roboto',Arial,sans-serif;
}
.expert .form__submit {
    display: block;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.expert .submit {
    font-family: 'Roboto',Arial,sans-serif;
    text-align: center;
    height: 60px;
    border: 0 none;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;
    -webkit-appearance: none;
    font-weight: bold;
    white-space: nowrap;
    background-image: none;
    cursor: pointer;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    background: transparent;
}
.expert .submit {
    position: relative;
}
.expert .submit {
    height: 56px;
    padding: 0 20px;
    width: 100%;
}
.expert .form-bottom-text {
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
}
/******** SELECT  ********/
.select{
  position: relative;
  padding-top: 80px;
}
.select .section__topwrapper{
  margin-bottom: 90px;
}

.select .align_center {
text-align: center;
}
.select .title_xs {
    font-size: 42px;
    line-height: 1.23;
}
.select .section__title {
    margin-bottom: 40px;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 600;
    color: #000000;
}
.select .align_left{
  text-align: left;
}
.select .imgwrapper {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 110%;
}
.select .bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    -webkit-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}
.select .name_md {
    font-size: 20px;
    line-height: 1.35;
    font-weight: 600;
    color: #000000;
}
.select .descr_sm {
    font-size: 18px;
    line-height: 1.55;
    font-weight: 300;
    color: #000000;
}
.select .descr {
    margin-top: 8px;
}
.select .btn-wrapper {
    margin-top: 19px;
}
.select .btn {
    border: 0 none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: bold;
    background-image: none;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.select .btn_sm {
    height: 45px;
    font-size: 14px;
    padding-left: 25px;
    padding-right: 25px;
}
.select .btn {
    display: inline-block;
    margin: 0px 4px 8px 0px;
}
.select a {
    color: #ff8562;
    text-decoration: none;
}
